# Image data copy

In [1]:
import os
import pandas as pd
import numpy as np

import shutil

In [2]:
df = pd.read_csv("./data/train.csv", )

In [3]:
df.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2                                                NaN
2  0002cc93b.jpg_3                                                NaN
3  0002cc93b.jpg_4                                                NaN
4  00031f466.jpg_1                                                NaN

In [4]:
df.shape

(50272, 2)

In [5]:
df.ImageId_ClassId

0        0002cc93b.jpg_1
1        0002cc93b.jpg_2
2        0002cc93b.jpg_3
3        0002cc93b.jpg_4
4        00031f466.jpg_1
              ...
50267    ffff4eaa8.jpg_4
50268    ffffd67df.jpg_1
50269    ffffd67df.jpg_2
50270    ffffd67df.jpg_3
50271    ffffd67df.jpg_4
Name: ImageId_ClassId, Length: 50272, dtype: object

In [6]:
df['ImageId'] = df['ImageId_ClassId'].apply(lambda x: x.split('_')[0])
df['ClassId'] = df['ImageId_ClassId'].apply(lambda x: x.split('_')[1])
df['hasMask'] = ~ df['EncodedPixels'].isna() # ~a ビット反転 --> 空白セルを"0"にする

In [7]:
df.head()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,0002cc93b.jpg,1,True
1,0002cc93b.jpg_2,NaN,0002cc93b.jpg,2,False
2,0002cc93b.jpg_3,NaN,0002cc93b.jpg,3,False
3,0002cc93b.jpg_4,NaN,0002cc93b.jpg,4,False
4,00031f466.jpg_1,NaN,00031f466.jpg,1,False

In [8]:
df.tail()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
50267,ffff4eaa8.jpg_4,NaN,ffff4eaa8.jpg,4,False
50268,ffffd67df.jpg_1,NaN,ffffd67df.jpg,1,False
50269,ffffd67df.jpg_2,NaN,ffffd67df.jpg,2,False
50270,ffffd67df.jpg_3,30931 43 31103 127 31275 211 31489 253 31745 2...,ffffd67df.jpg,3,True
50271,ffffd67df.jpg_4,NaN,ffffd67df.jpg,4,False

In [9]:
df.shape

(50272, 5)

In [10]:
df_train = df[0:10000]

In [11]:
df_train.shape

(10000, 5)

In [12]:
df_train.tail()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
9995,321a6df3f.jpg_4,NaN,321a6df3f.jpg,4,False
9996,3221a0d79.jpg_1,60184 9 60436 15 60690 18 60945 21 61200 24 61...,3221a0d79.jpg,1,True
9997,3221a0d79.jpg_2,NaN,3221a0d79.jpg,2,False
9998,3221a0d79.jpg_3,NaN,3221a0d79.jpg,3,False
9999,3221a0d79.jpg_4,NaN,3221a0d79.jpg,4,False

In [13]:
# dataframe をCSVファイルとして保存
df_train.to_csv("./data/train_small.csv",index=False)

In [14]:
df_test = df[10000:11000]

In [15]:
df_test.shape

(1000, 5)

In [16]:
df_test.head()

       ImageId_ClassId EncodedPixels        ImageId ClassId  hasMask
10000  3223ad6e6.jpg_1           NaN  3223ad6e6.jpg       1    False
10001  3223ad6e6.jpg_2           NaN  3223ad6e6.jpg       2    False
10002  3223ad6e6.jpg_3           NaN  3223ad6e6.jpg       3    False
10003  3223ad6e6.jpg_4           NaN  3223ad6e6.jpg       4    False
10004  323c5a20b.jpg_1           NaN  323c5a20b.jpg       1    False

In [17]:
# dataframe をCSVファイルとして保存
df_test.to_csv("./data/test_small.csv",index=False)

## 訓練データの作成

In [18]:
df_train = pd.read_csv("./data/train_small.csv", )

In [19]:
df_train.head()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,0002cc93b.jpg,1,True
1,0002cc93b.jpg_2,NaN,0002cc93b.jpg,2,False
2,0002cc93b.jpg_3,NaN,0002cc93b.jpg,3,False
3,0002cc93b.jpg_4,NaN,0002cc93b.jpg,4,False
4,00031f466.jpg_1,NaN,00031f466.jpg,1,False

In [20]:
df_train.tail()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
9995,321a6df3f.jpg_4,NaN,321a6df3f.jpg,4,False
9996,3221a0d79.jpg_1,60184 9 60436 15 60690 18 60945 21 61200 24 61...,3221a0d79.jpg,1,True
9997,3221a0d79.jpg_2,NaN,3221a0d79.jpg,2,False
9998,3221a0d79.jpg_3,NaN,3221a0d79.jpg,3,False
9999,3221a0d79.jpg_4,NaN,3221a0d79.jpg,4,False

In [21]:
df_train.shape

(10000, 5)

In [22]:
def copy_image_train(i):
    for i in range(i+1):
        shutil.copy('./data/train_images/'+df_train.ImageId[i], './data/train_images_small')

In [23]:
copy_image_train(9999)

## テストデータの作成

In [24]:
df_test = pd.read_csv("./data/test_small.csv", )

In [25]:
df_test.head()

   ImageId_ClassId EncodedPixels        ImageId  ClassId  hasMask
0  3223ad6e6.jpg_1           NaN  3223ad6e6.jpg        1    False
1  3223ad6e6.jpg_2           NaN  3223ad6e6.jpg        2    False
2  3223ad6e6.jpg_3           NaN  3223ad6e6.jpg        3    False
3  3223ad6e6.jpg_4           NaN  3223ad6e6.jpg        4    False
4  323c5a20b.jpg_1           NaN  323c5a20b.jpg        1    False

In [26]:
df_test.tail()

,ImageId_ClassId,EncodedPixels,ImageId,ClassId,hasMask
995,376504c33.jpg_4,NaN,376504c33.jpg,4,False
996,376d2291e.jpg_1,NaN,376d2291e.jpg,1,False
997,376d2291e.jpg_2,NaN,376d2291e.jpg,2,False
998,376d2291e.jpg_3,294653 4 294902 11 295151 18 295400 25 295649 ...,376d2291e.jpg,3,True
999,376d2291e.jpg_4,NaN,376d2291e.jpg,4,False

In [27]:
df_test.shape

(1000, 5)

In [29]:
def copy_image_test(i):
    for i in range(i+1):
        shutil.copy('./data/train_images/'+df_test.ImageId[i], './data/test_images_small')

In [30]:
copy_image_test(999)